<div class="header-left" id="scrollspy">
    <div class="logo bg-base-color">
        <a href="index.html" class="text-white mb-0">F</a>
    </div>

    <div class="main-menu" id="js-menu">
       <div class="cross bg-base-color">
            <span><i class="fa fa-times" style="color: #f21e4e;"></i></span>
       </div>
        <nav class="menu">
            <ul class="menu-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="about" id="about" >About </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="skills">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="works" >Works</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="blogs" >Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" >Contact</a>
                </li>
            </ul>
        </nav>
    </div>


</div>
