<section id="about" class="section about">
    <div class="container">
        <div class="row mb-50 pt-30">
            <div class="col-md-12">
                <div class="section-title">
                <h2 class="text-dark mb-0">About me</h2>
                <p class="text-muted mb-0">Main Information About Me.</p>
                </div>
            </div>
        </div>


        <!--Hero & info-->
        <div class="row mb-50 class">
            <div class="col-lg-5">
                <div class="hero">
                    <img src="../../assets/image/port.jpg" alt="">
                </div>
            </div>

             <div class="col-lg-7 d-flex align-items-center">
                <div class="details">
                    <h5>Hello ,I'm Qurbanzade Fidan</h5>
                    <p class="text-dark mb-25">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla pretium lacus, eu luctus neque ultricies a. Phasellus
                        faucibus orci a purus mattis tincidunt ut non nulla.
                        Donec ullamcorper sapien eget neque facilisis euismod.
                    </p>

                    <!--about info-->
                    <ul class="info mb-5 list-inline">
                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Name :</span> 
                            Fidan Qurbanzade
                        </li>
                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Phone :</span>
                             055-292-93-36
                        </li>
                        <li class="text-dark">
                            <span style="font-weight: 600;" >Date of birth :</span> 
                            24-08-1995
                        </li>
                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Email :</span>
                            <a href="mailto:fqurbanzade6@gmail.com" class="text-dark"></a>
                            fqurbanzade6@gmail.com
                        </li>
                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Nationality :</span>
                             Azerbaijan
                        </li>
                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Address :</span>
                             Adil Memmedov 10
                        </li>

                        <li class="text-dark">
                            <span  style="font-weight: 600;" >Work Status :</span>
                             Front-end developer
                        </li>
                        <li class="text-dark">
                            <span style="font-weight: 600;" >Freelancer :</span> 
                            Available
                        </li>
                    </ul>

                    <!-- <a href="#about" class="btn-custom">
                        <span><i class="fas fa-cloud-download-alt"></i></span>
                        <span>Downland My CV</span>
                    </a> -->
                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-6">
                <!--Timeline-->
                <h5 class="text-dark mb-30">My Expericence</h5>
                <div class="timeline">

                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-0">Front-end Developer
                                <span class="text-muted"> - </span> StartUp Project </h6>
                            <small class="text-muted">07.17.2020 - 10.10.2020</small>
                            <p class="text-dark pt-15 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium aut repellendus rem non repudiandae
                            sint dolor illo officia dignissimos.</p>
                        </div>
                    </div>
               
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="text-dark mb-30">My Education</h5>
                <div class="timeline">
                    <!--item 1-->
                    <div class="item">
                        <div class="content">
                            <h6 class="text-dark mb-0">Information Technology and ystem engineer
                                <span class="text-muted"> - </span> Azerbaijan University of Architecture and Construction</h6>
                            <small class="text-muted">2014 - 2018</small>
                            <p class="text-dark pt-15 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit praesentium aut repellendus rem non repudiandae
                                sint dolor illo officia dignissimos.
                            </p>
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </div>
</section>